<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style type='test/css'>
            #body{
                text-align: center;
            }
            #content{
                margin-left: 25%;
            }
        </style>
    </head>
    <body>
        <dir id='body'>
        <form name='input' action='/search' method='get'>
            <br/><br/>User ID <br>
            <input type='text' name='user_id'/><br><br>
            <input type='submit' value='Submit'/>
        </form>
    </body>
</html>